
.spinner-border {
    width: 8rem;
    height: 8rem;
}
*/
/* Set a fixed height for the sidebar */
.navbar {
    height: 3.5rem;
}
/* Set a fixed height for the sidebar */
.sidebar {
    height: calc(100vh - 3.5rem);
    position: fixed;
    top: 3.5rem;
    z-index: 1;
}
/* Adjust the main content to account for the topbar and sidebar */
.main-content {
    margin-top: 3.5rem;
    margin-left: 16.5rem;
}
/* Hide the sidebar on small screens */
@media (max-width: 767px) {
    .sidebar {
        display: none;
    }

    .main-content {
        margin-top: 0;
        margin-left: 0;
    }
}
body {
    background-color: #edf1f4;
}
table{
    cursor:pointer;
}